BirdAsset (
    name: "Bluebird",
    hunger: 4,
    size: (100, 100),
    sprite: "sprites/blue_bird.png",
    velocity: 80.0,
    on_feed_points: 10,
    droppings: Some([
        (
            asset: "birds/droppings/seeds.ron",
            probability: 1,
        ),
        (
            asset: "birds/droppings/bird.ron",
            probability: 1,
        )
    ])
)
