LevelAsset (
    spawn_probability: 0.001,
    spawn_cooldown: 2.0,
    spawner_qty: 10,
    spawner_z: 200,
    birds: [
        LevelBird (
            asset: "birds/bluebird.ron",
            spawn_probability: 10.0
        ),
        LevelBird (
            asset: "birds/big_chonker.ron",
            spawn_probability: 0.1
        ),
        LevelBird (
            asset: "birds/swallow.ron",
            spawn_probability: 4.0
        ),
        LevelBird (
            asset: "birds/swallow_long.ron",
            spawn_probability: 0.5
        ),
        LevelBird (
            asset: "birds/magpie.ron",
            spawn_probability: 2.0
        ),
    ],
    players: [
        LevelPlayer (
            asset: "players/boy.ron",
            initial_position: (0, -290, 20),
        )
    ],
    layers: [
        LevelLayer (
            image: "textures/grass_tile_64.png",
            tiled: true,
            z: 10
        ),
    ]
)
