LevelAsset (
    spawn_probability: 0.001,
    spawn_cooldown: 2.0,
    spawner_qty: 10,
    spawner_z: 200,
    birds: [
        LevelBird (
            asset: "birds/canada_goose.ron",
            spawn_probability: 2.0
        ),
        LevelBird (
            asset: "birds/bluebird.ron",
            spawn_probability: 10.0
        ),
        LevelBird (
            asset: "birds/big_chonker.ron",
            spawn_probability: 0.1
        ),
        LevelBird (
            asset: "birds/swallow.ron",
            spawn_probability: 4.0
        ),
        LevelBird (
            asset: "birds/swallow_long.ron",
            spawn_probability: 0.5
        ),
        LevelBird (
            asset: "birds/magpie.ron",
            spawn_probability: 2.0
        ),
    ],
    players: [
        LevelPlayer (
            asset: "players/boy.ron",
            initial_position: (-100, 0, 20),
        )
    ],
    layers: [
        LevelLayer (
            image: "textures/grass_tile_bw_64_noalpha.png",
            tint: Some(( red: 0.3, green: 0.7, blue: 0, alpha: 0.7 )),
            display_mode: Tiled (
                scale: (11.0, 11.0),
            ),
            z: 10
        ),
    ],
    scenery: [
        // top left tree (front)
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (-650,320,15),
            collision: true,
            collider_size: (300,300),
        ),
        // top right tree (back)
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (-390,500,15),
            collision: true,
            collider_size: (300,300),
        ),
        // top left corner tree (mostly hidden)
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (-500,400,15),
            collision: true,
            collider_size: (300,300),
        ),
        // left middle tree
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (-700,200,15),
            collision: true,
            collider_size: (300,300),
        ),
        // top right corner tree (mostly hidden)
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (650,320,15),
            collision: true,
            collider_size: (300,300),
        ),
        // top right tree (back)
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (470,480,15),
            collision: true,
            collider_size: (300,300),
        ),
        // top right tree (front)
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (500,400,15),
            collision: true,
            collider_size: (300,300),
        ),
        // right middle tree
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (700,200,15),
            collision: true,
            collider_size: (300,300),
        ),
        // note: birds are at z=200 so bottom trees are slightly above at 210
        // bottom left corner tree
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (-700,-530,210),
            collision: false,
            collider_size: (0,0),
        ),
        // bottom tree 2
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (-500,-550,210),
            collision: false,
            collider_size: (0,0),
        ),
        // bottom tree 3
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (-300,-580,210),
            collision: false,
            collider_size: (0,0),
        ),
        // bottom tree 4
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (-100,-560,210),
            collision: false,
            collider_size: (0,0),
        ),
        // bottom tree 5
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (-50,-570,210),
            collision: false,
            collider_size: (0,0),
        ),
        // bottom tree 6
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (100,-565,210),
            collision: false,
            collider_size: (0,0),
        ),
        // bottom tree 7
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (300,-585,210),
            collision: false,
            collider_size: (0,0),
        ),
        // bottom tree 8
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (450,-525,210),
            collision: false,
            collider_size: (0,0),
        ),
        // bottom right corner tree
        LevelScenery (
            image: "sprites/scenery/oak_tree.png",
            size: (500,500),
            translation: (700,-520,210),
            collision: false,
            collider_size: (0,0),
        ),
        // dandelions
        LevelScenery (
            image: "sprites/scenery/dandelion.png",
            size: (50,50),
            translation: (380,260,15),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/dandelion.png",
            size: (50,50),
            translation: (-600,10,15),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/dandelion.png",
            size: (50,50),
            translation: (-290,300,15),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/dandelion.png",
            size: (50,50),
            translation: (680,-40,15),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/dandelion.png",
            size: (50,50),
            translation: (-425,250,17),
            collision: false,
            collider_size: (0,0),
        ),
        // mushrooms
        LevelScenery (
            image: "sprites/scenery/mushroom.png",
            size: (64,64),
            translation: (-400,270,15),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/mushroom.png",
            size: (64,64),
            translation: (760,25,14),
            collision: false,
            collider_size: (0,0),
        ),
        // butterflies
        LevelScenery (
            image: "sprites/scenery/monarch_butterfly.png",
            size: (32,32),
            translation: (-700,-380,250),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/monarch_butterfly.png",
            size: (32,32),
            translation: (250,-430,250),
            collision: false,
            collider_size: (0,0),
        ),
        // left hand leaves
        LevelScenery (
            image: "sprites/scenery/leaf.png",
            size: (50,50),
            translation: (-700,-35,15),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/leaf.png",
            size: (50,50),
            translation: (-650,55,15),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/leaf.png",
            size: (50,50),
            translation: (-330,245,15),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/leaf.png",
            size: (50,50),
            translation: (-240,375,15),
            collision: false,
            collider_size: (0,0),
        ),
        // right hand leaves
        LevelScenery (
            image: "sprites/scenery/leaf.png",
            size: (50,50),
            translation: (730,-45,15),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/leaf.png",
            size: (50,50),
            translation: (610,55,15),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/leaf.png",
            size: (50,50),
            translation: (430,245,15),
            collision: false,
            collider_size: (0,0),
        ),
        LevelScenery (
            image: "sprites/scenery/leaf.png",
            size: (50,50),
            translation: (280,325,15),
            collision: false,
            collider_size: (0,0),
        ),
    ]
)
